
/* Mobile
------------------------------------*/

@media only screen and (max-width:520px) {

	h1 {
	  font-size: 24px;
	  line-height: 40px;
	  letter-spacing: 3px;
	}

	.section-header {
		text-align: center
	}
	
	.section-content {
		margin-left: 0 !important;
	}
	
	.contact-info {
		text-align: center;

		li {
		  margin-bottom: 45px;
		  min-height: 0;
		}

		li:before {
			display: block;
	    position: relative;
	    top: 0;
	    left: 0;
	    margin: 0 auto 15px;
		}
	}

	.button {
		display: block;
		margin: 60px auto 0;
	}

}
