
/* Mobile
------------------------------------*/

@media only screen and (max-width:520px) {

	h1 {
	  font-size: 24px;
	  line-height: 40px;
	  letter-spacing: 3px;
	}

	.section-header {
		text-align: center
	}
	
	.section-content {
		margin-left: 0 !important;
	}
	

}
