
/* Smaller Desktops
------------------------------------*/

@media only screen and (max-width:1485px) {
	
	#fp-nav.left {
		left: 5%;
	}
}


@media only screen and (max-width:1366px) {
	
	.site-logo {
		padding: 60px 25px 15px;

		img {
			max-width: 220px;
		}
	}

}

@media only screen and (max-width:1280px) {
	
	.hero-content h1 {
		font-size: 31px;
	}

	figure img {
		max-width: 650px;
	}

	.footer-wrapper {
		padding: 6% 0;
	}

}

@media only screen and (max-width:1024px) {
	
	.site-logo {
		padding-top: 30px;

		img {
			max-width: 180px;
		}
	}
	
}


/* Tablets
------------------------------------*/

@media only screen and (max-width:767px) {

	h1 {
		font-size: 30px;
    line-height: 40px;
	}

	#fp-nav {
		display: none;
	}


	/* Header
	-------------------------------------*/

	.site-logo {
		text-align: center;
	}


	/* Content
	-------------------------------------*/

	.section-header {
		padding: 60px 25px 0;
	}

	.section-content {
		padding: 30px 25px;
		margin-left: 10% !important;
	}

	figure.columns {
		padding: 0 25px;
		margin: 30px 0;
	}
	
	
	/* Hero
	-------------------------------------*/

	.hero {
		height: auto !important;

		.fp-tableCell {
			height: auto !important;
		}
	}

	.hero-content {
		padding: 30px 45px 120px;

		h1 {
			font-size: 28px;
    	line-height: 38px;
		}
	}


	/* Contact Us
	-------------------------------------*/

	.contact-info {

		li {
			margin-bottom: 20px;
			min-height: 15px;

			&:first-child {
				margin-bottom: 40px;
			}

			&:before {
				left: -70px;
			}
		}
	}

	
	/* Footer
	-------------------------------------*/

	.col-left {
		text-align: center;

		img {
		  max-width: 120px;
		}
	}

	.col-right {
		font-size: 14px;
		margin-top: 20px;
		text-align: center;
	}
}

